.form-control { 
  padding: 12px;
  border-radius: 4px;
  border:none;
  background-color: #F5F5F5;
  width:100%;
  height: 40px;
}
.order-summary img { 
   width: 60px; 
}
.payment-icons img { 
  width: 40px; 
  margin-right: 6px; 
}
.apply-btn, .place-btn { 
  padding: 12px 20px; 
 }
.form-check-input{
  width: 25px;
  height: 25px;
}
@media (max-width: 768px) {
  .form-control {
    width: 100%;
  }
  .form-abdo{
    width: 100% !important;
  }
  .save-info{
    font-size:15px;
  }
  .Apply-Cart{
    width: 100% !important;
    height:45px !important;
    text-align: center;
  }
  .bank img{
    width: 30px;
  }
  .Apply-checkout{
    width: 100% !important;
    height:45px !important;
    text-align: center;
  }
  
}
