.ContactPageLayout {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brd {
    border: 1px solid crimson;
}

.floatingContentLayout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.ContentDisplayLayout {
    width: 100%;
    height: fit-content;
    border: 1px solid gainsboro;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px !important;
    gap: 10px;
    align-self: flex-start;
}

.AroundIconDetailsLayout {
    border: 1px solid gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: crimson;
}

.IconAndHeadingDetailsStyle {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 10px;
    font-weight: bolder;
}

.IconInDetailsStyle {
    width: 25px;
    height: 25px;
    color: white;
}

.SeperatorBtwDetails {
    height: 1px;
    width: 240px;
    background-color: gainsboro;
}

.OurDetailsUnitLayout {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    /* border: 1px solid #DB4444; */
}


/* *Fields Input Layout */
.FieldsInputLayout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: fit-content;
    border: 1px solid gainsboro;
    border-radius: 4px;
    padding: 25px !important;
    gap: 25px;
}

.firstContactInputsField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 20px;

}

.contactInput {
    border-radius: 4px;
    width: 100%;
    height: 50px;
    max-width: 330px;
    padding-left: 15px !important;
    outline: none;
    border: none;
    background-color: #F5F5F5;
    font-size: 16px;
}

.secondContactInputsField {
    width: 100%;
    height: 300px;
    background-color: #F5F5F5;
    outline: none;
    border: none;
    padding: 15px !important;
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; */
    /* text-align: left !important; */
    /* display: block; */
    /* vertical-align: top; */
}

.secondContactInputsField:empty:before {
    content: "Your Message";
    color: #888;
}

/* *errorHandleAndSubmitLayout */
.errorHandleAndSubmitLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 25px;

}

.errorParagraph {
    width: 100%;
    text-align: center;
    color: #DB4444;
}

.btnForInputsField {
    width: 250px;
    height: 60px;
    border-radius: 4px;
    background-color: #DB4444;
    color: #FAFAFA;
    outline: none;
    border: none;

}

@media (min-width:768px) {
    .errorHandleAndSubmitLayout {
        flex-direction: row;

    }

    .errorParagraph {
        width: 52%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 55px;
    }

    .btnForInputsField {
        margin-left: auto !important;
    }

    .floatingContentLayout {
        width: 90%;
        height: 60%;
        flex-direction: row;
    }

    .ContentDisplayLayout {
        width: 37%;
        height: 100%;
    }

    .IconAndHeadingDetailsStyle {
        justify-content: flex-start;
    }

    .OurDetailsUnitLayout {
        align-items: flex-start;
        height: 170px;

        /* height: 50%; */
    }

    .FieldsInputLayout {
        width: 63%;
        height: 100%;
    }

    .firstContactInputsField {
        flex-direction: row;
    }

    .btnForInputsField {
        align-self: flex-end;
        width: 200px;
    }

    .secondContactInputsField {
        height: 200px;
    }
}

@media (min-width:1024px) {
    .floatingContentLayout {
        width: 80%;
    }
}