.upperHeaderLayout {
    width: 100%;
    height: 45px;
    background-color: black;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 5px !important;
    position: relative;
    /* border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px; */
}

.upperHeaderLayout span {
    width: 90%;
    text-align: center;
}

.shopNowLinkStyle {
    text-decoration: underline;
    color: #FAFAFA;
    cursor: pointer;
    font-weight: bold;
    text-underline-offset: 2px;
    margin-left: 10px !important;
}

.closeIconStyle {
    position: absolute;
    right: 10px;
    height: 100%;
    cursor: pointer;
}

@media (min-width:768px) {
    .upperHeaderLayout {
        height: 35px;
    }
}