.cardLayout {
    height: 450px;
    width: 270px;
    border-radius: 4px;
    position: relative;
}

.cardImg {
    height: 67%;
    width: 100%;
}

.addToCardStyle {
    width: 100%;
    height: 46px;
    background-color: black;
    color: #F5F5F5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
}

.cardImg img {
    width: 100%;
    height: 100%;
}

.productDetailsStyle {
    height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 5px !important;
}

.prodNameStyle {
    font-size: 22px;
    /* font-weight: bolder; */
}

.priceHolderLayout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.finalPriceStyle {
    color: #DB4444;
}

.originalPriceStyle {
    color: gray;
    text-decoration: line-through;
}

.brd {
    border: 1px solid crimson;
}

.saleStyle {
    position: absolute;
    width: 65px;
    height: 30px;
    background-color: #DB4444;
    color: #F5F5F5;
    border-radius: 4px;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.operations {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    width: 30px;
    height: fit-content;
    top: 10px;
    right: 10px;
    cursor: pointer;
    gap: 10px;
}

.opIconHolder {
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    outline-style: none;
}

.opIconHolder svg {
    width: 80%;
    height: 80%;
}