.whishListPageLayout {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 60px !important;
}

.centerHolder {
    width: 85%;
    height: fit-content;
    padding-bottom: 50px !important;
}



.headlinesStyle {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px !important;
}

.headlinesStyle h1 {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;

}

.redZoneAndWordHolder {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
    gap: 15px;
}

.redZoneStyle {
    height: 40px;
    width: 18px;
    background-color: #DB4444;
    border-radius: 4px;
}

.headlinesStyle button {
    height: 50px;
    width: 200px;
    background-color: white;
    outline: none;
    border: 1px solid black;
    border-radius: 4px;
}

.cardsHolder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
    gap: 25px;
}

@media (min-width:768px) {
    .cardsHolder {
        flex-direction: row;
    }
}

.brd {
    border: 1px solid royalblue;
}